@import "tailwindcss";
@theme {
  /*Screen Sizes  */
  --breakpoint-xs: 24.5rem; /* 392px */
  --breakpoint-md: 51rem; /* 816px */
  --breakpoint-2xl: 90rem;  /* 1440px */
  /*Colour Palette*/
  --color-sygreen: #009682;
  --color-syslate: #404a5c;
  --color-syblue: #5cbad1;
  --color-sylightgreen: #bade66;
  --color-syorange: #ff8c14;
  --color-syyellow: #f7d90d;
  --color-sylightblue: #a6deeb;
  --color-syblue: #5cbad1;
  --color-syteal: #0d6e85;
  --color-sypurple: #6e5780;
}
body {
  font-family: var(--font-quicksand);
}
/* Comments: 

Breakpoint prefix	Minimum width	CSS
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }
 *
 * */
