---
import { heading, text } from "../data/hero.json";
---

<section
  class="flex flex-col mx-auto min-h-[583px] bg-[url(../assets/sm-bg.png)]
    md:bg-[url(../assets/md-bg.png)]
    lg:bg-[url(../assets/lg-bg.png)]
    bg-cover bg-bottom"
>
  <div class="text-center border border-orange-400">
    <h1
      class="mt-[120px] text-[min(10vw,4rem)] font-bold text-balance text-white"
    >
      {heading}
    </h1>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
      {text}
    </p>
  </div>
</section>
