---
import { Icon } from "astro-icon/components";
---

<nav class="bg-syteal-600 h-[120px] items-center flex justify-between">
  <div><Icon class="ml-[24px]" name="logo" width={80} height={63} /></div>
  <div>
    <Icon
      class="mr-[24px] text-white"
      name="material-symbols:menu-rounded"
      width={50}
      height={50}
    />
  </div>
</nav>
