---
import { getCollection } from "astro:content";
const benefits = await getCollection("businessBenefits");
import { heading, subheading } from "@data/businessBenefits.json";
import BusinessBenefitCard from "@components/BusinessBenefitCard.astro";
---

<div
  class="z-10 flex flex-col items-center justify-center py-24 text-center sm:py-32"
>
  <div
    class="-mt-24 flex max-w-7xl flex-col items-center px-6 md:-mt-34 lg:px-8"
  >
    <div class="flex w-85 flex-col md:w-141">
      <h2 class="sm:5xl text-sygreen text-4xl font-semibold">
        {heading}
      </h2>
      <p class="text-syslate mt-6 text-lg/8">{subheading}</p>
    </div>

    <div class="carousel carousel-center rounded-box max-w-lvw space-x-4 p-4">
      {benefits.map((benefit) => <BusinessBenefitCard item={benefit} />)}
    </div>
  </div>
</div>
