---
import Lifelines from "@components/Lifelines.astro";
---

<div class="w-full overflow-hidden h-40 md:h-60 lg:h-80">
  <div
    class="border
    rounded-t-[50%]
    mb-24
    border-syblue
    bg-syblue
    translate-y-1/2
    h-40
    md:h-60
    lg:h-80
    scale-120
    -z-10"
  >
  </div>
</div>
<div class="bg-syblue">
  <Lifelines />
</div>
<div class="w-full overflow-hidden h-40 md:h-60 lg:h-80">
  <div
    class="border
    rounded-b-[50%]
    mb-24
    border-syblue
    bg-syblue
    -translate-y-1/2
    h-40
    md:h-60
    lg:h-80
    scale-120
    -z-10"
  >
  </div>
</div>
