<div
  class="w-full overflow-hidden -mt-15 h-40 md:-mt-20 md:h-60 lg:-mt-30 lg:h-80"
>
  <div
    class="border
    rounded-t-[50%]
    mb-24
    border-syslate
    bg-syslate
    translate-y-1/2
    h-40
    md:h-60
    lg:h-80
    scale-120
    -z-10"
  >
  </div>
</div>
<div class="h-100 bg-syslate">&nbsp;</div>
