---
const heading = "Sausages";
const subheading = "For tea";
---

<section
  class="flex flex-col mx-auto
  min-h-[583px] md:min-h-[665px] lg:min-h-[780px]
  bg-[url(../assets/lg-bg.png)]
  bg-cover
  bg-bottom"
>
  <h1
    class="mt-30 ml-6 md:ml-10 lg:ml-30 text-[min(10vw,4rem)] font-bold text-balance text-white"
  >
    {heading}
  </h1>
  <p
    class="ml-6 md:ml-10 lg:ml-30 text-[min(1rem, 1.5rem)] font-medium text-pretty text-white sm:text-xl/8"
  >
    {subheading}
  </p>
</section>
