---
import "../styles/global.css";
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
---

<Font cssVariable="--font-quicksand" preload />

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Supporting You Website</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
